@charset "utf-8";
*, ::after, ::before {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Helvetica, Arial, "Microsoft JhengHei", sans-serif, "LiHei Pro", MingLiu;
    color: #222;
    background-color: #eee
}

html, body{
  overflow-x: hidden;
}

a {
    text-decoration: none
}

.img-resp {
    vertical-align: bottom
}

.btn-bars, a {
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s
}

.btn-bars, .header a, .header p, .header span, footer a, footer p, footer span {
    color: #fafafa
}

.btn-bars:hover, .header a:hover, footer a:hover {
    color: #6db4ff
}

.footer, .header {
    background-color: #1b1b1b
}

.container {
    width: 80vw
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.img-resp {
    width: 100%
}

.align-c {
    text-align: center
}

.hide {
    text-indent: -9999px;
    position: absolute
}

.header {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding-left: 4vh;
    padding-right: 4vh;
    position: fixed;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
    z-index: 1
}

.header .navi-ls {
    display: flex
}

.header .navi-li {
    margin-left: 2rem;
    line-height: 2rem
}

.navi-line {
    border-left: #bbb 1px solid;
    padding-left: 2rem
}

.btn-bars, .btn-icon {
    font-size: 1.4rem
}

.btn-bars {
    outline: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none
}

.banr {
    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    max-width: 100%;
    font-family: futura
}

.banr-pag {
    background-attachment: fixed;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background-color: #000
}

.banr-home {
    background-position: center 90px;
    height: 100vh;
    background-image: url(/image/Banr_Index.jpg)
}

.banr-sheet {
    background-image: url(/image/Banr_Sheet.png);
    background-position: right center
}

.banr-dsg {
    background-image: url(/image/Banr_Dsg.png);
    background-position: center center
}

.banr-home-text {
    margin-left: 12vw;
    line-height: 14vh;
    font-size: 10vh;
    animation-name: FadeOutRight;
    animation-duration: 2.5s;
    display: block;
    position: relative
}

@keyframes FadeOutRight {
    from {
        right: 7vh;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 100%
    }
}

.banr-home-title {
    color: #6db4ff
}

.banr-home-desc {
    color: #fff
}

.banr-pag-title {
    padding-top: 35px;
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
    color: #eee;
    animation-name: FadeOutDown;
    animation-duration: 2.5s;
    display: block;
    position: relative
}

.banr-pag-sm {
    font-size: 2.5vw;
    color: #6db4ff
}

@keyframes FadeOutDown {
    from {
        bottom: 7vh;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 100%
    }
}

#Base {
    padding-top: 3rem;
    padding-bottom: 2rem
}

.base {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem
}

.base+.base {
    border-top: #cfcfcf solid 1px
}

.base-desc {
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 300
}

.base-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
    color: #004e92
}

.base-link-ls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem
}

.base-link-li a {
    background-color: rgba(82, 120, 224, .88);
    margin: 1rem;
    padding: .8rem;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}

.base-link-li a:hover {
    background-color: rgba(82, 120, 224, 1)
}

.w-80percent {
    width: 80%
}

.base-two {
    display: flex;
    flex-direction: row;
    align-items: center
}

.base-two .base-body {
    width: 65%
}

.base-two .base-head {
    width: 35%;
    padding-right: 2rem
}

.base-two-col .base-head {
    padding-bottom: 2rem
}

.base-two.base-flip {
    flex-direction: row-reverse
}

.base-two.base-flip .base-head {
    padding-right: 0;
    padding-left: 2rem
}

.round-ls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem
}

.round-li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #efefef;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}

.round-span {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #2b78ca
}

.round-icon {
    font-size: 50px;
    color: rgba(43, 120, 202, .5)
}

.blog-big {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8)
}

.blog-bigbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.blog-bigimg {
    height: 75vh;
    width: auto
}

.blog-ls {
    width: 78vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem
}

.blog-ls::after {
    content: '';
    display: block;
    clear: both
}

.blog-li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 22vw;
    width: 22vw;
    margin: 2vw;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%
}

.blog-cover {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.blog-desc {
    font-family: futura;
    color: #fff;
    font-size: 1.8vw
}

.blog-img {
    position: relative;
    display: flex;
    width: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.blog-li:hover .blog-img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2)
}

.blog-li:hover .blog-cover {
    opacity: 1
}

.btn-top {
    position: fixed;
    right: 10vw;
    bottom: 90px;
    font-size: 30px;
    color: #fafafa;
    background-color: rgba(82, 120, 224, .8);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}

.btn-top:hover {
    background-color: rgba(82, 120, 224, .88)
}

.footer {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center
}

.pag-footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, .5)
}

.home-footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8)
}

.footer a, .footer span {
    font-size: .9rem
}

.home-footer span {
    color: rgba(255, 255, 255, .7)
}

.js-fadeIn-bottom, .js-fadeIn-left, .js-fadeIn-normal, .js-fadeIn-right, .js-fadeIn-top {
    opacity: 0;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease
}

.js-fadeIn-left+.base-body, .js-fadeIn-right+.base-body {
    opacity: 0;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease
}

.js-fadeIn-bottom--active, .js-fadeIn-left--active, .js-fadeIn-normal--active, .js-fadeIn-right--active, .js-fadeIn-top--active {
    opacity: 1
}

.js-fadeIn-left--active+.base-body, .js-fadeIn-right--active+.base-body {
    opacity: 1
}

.js-fadeIn-left {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px)
}

.js-fadeIn-left+.base-body {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px)
}

.js-fadeIn-right {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px)
}

.js-fadeIn-right+.base-body {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px)
}

.js-fadeIn-top {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px)
}

.js-fadeIn-bottom {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px)
}

.js-fadeIn-left--active, .js-fadeIn-left--active+.base-body, .js-fadeIn-right--active, .js-fadeIn-right--active+.base-body {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0)
}

.js-fadeIn-bottom--active, .js-fadeIn-top--active {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media screen and (min-width:1601px) {
    .container {
        width: 70vw
    }
    .blog-ls {
        width: 69vw
    }
    .blog-li {
        height: 19vw;
        width: 19vw
    }
}

@media screen and (max-width:1200px) {
    .container {
        width: 80vw
    }
    .banr-home-text {
        line-height: 12vh;
        font-size: 8vh
    }
    .blog-ls {
        width: 78vw
    }
    .blog-li {
        height: 22vw;
        width: 22vw
    }
}

@media screen and (max-width:1024px) {
    .container {
        width: 90vw
    }
    .banr-pag-title {
        font-size: 6.5vw;
        line-height: 7.5vw
    }
    .banr-pag-sm {
        font-size: 3.5vw
    }
    .base-two, .base-two.base-flip {
        flex-direction: column
    }
    .js-fadeIn-left, .js-fadeIn-left+.base-body, .js-fadeIn-right, .js-fadeIn-right+.base-body {
        transform: translate(0, 50px);
        -webkit-transform: translate(0, 50px);
        -moz-transform: translate(0, 50px);
        -ms-transform: translate(0, 50px);
        -o-transform: translate(0, 50px)
    }
    .js-fadeIn-left--active, .js-fadeIn-left--active+.base-body, .js-fadeIn-right--active, .js-fadeIn-right--active+.base-body {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0)
    }
    .base-two .base-body {
        width: 100%
    }
    .base-two .base-head, .base-two.base-flip .base-head {
        width: 100%;
        padding: 0 0 2rem 0
    }
    .btn-top {
        right: 5vw;
        bottom: 90px
    }
    .blog-ls {
        width: 90vw
    }
    .blog-li {
        height: 26vw;
        width: 26vw
    }
}

@media screen and (max-width:1024px) and (max-height:900px) {
    .header .navi-ls {
        flex-direction: column;
        background-color: rgba(27, 27, 27);
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100%;
        display: none
    }
    .header .navi-li {
        border-top: #292929 1px solid;
        text-align: center;
        width: 100%
    }
    .header .navi-li {
        margin-left: 0;
        line-height: 1
    }
    .navi-line {
        border-left: none;
        padding-left: 0
    }
    .btn-icon, .btn-text {
        display: block;
        width: 100vw;
        line-height: 10vh;
        font-size: 2.5vh
    }
    .navi-ls::after {
        content: "Copyright 2021 ©Bruce Yu Design";
        position: fixed;
        text-align: center;
        color: #fff;
        font-size: 1vh;
        width: 100%;
        bottom: 3vh;
        z-index: 2
    }
    .btn-bars {
        display: block
    }
}

@media screen and (max-width:900px) and (max-height:1024px) {
    .header .navi-ls {
        flex-direction: column;
        background-color: rgba(27, 27, 27);
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100%;
        display: none
    }
    .header .navi-li {
        border-top: #292929 1px solid;
        text-align: center;
        width: 100%
    }
    .header .navi-li {
        margin-left: 0;
        line-height: 1
    }
    .navi-line {
        border-left: none;
        padding-left: 0
    }
    .btn-icon, .btn-text {
        display: block;
        width: 100vw;
        line-height: 10vh;
        font-size: 2.5vh
    }
    .navi-ls::after {
        content: "Copyright 2021 ©Bruce Yu Design";
        position: fixed;
        text-align: center;
        color: #fff;
        font-size: 1vh;
        width: 100%;
        bottom: 3vh;
        z-index: 2
    }
    .btn-bars {
        display: block
    }
    .banr-home-text {
        animation-name: FadeOutDown;
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
    .banr-pag {
        height: 60vh
    }
    .base {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem
    }
    .align-c {
        text-align: left
    }
    .hide-900 {
        display: none
    }
}

@media screen and (max-width:768px) {
    .w-80percent {
        width: 100%
    }
}

@media screen and (max-width:480px) {
    .header-head {
        width: 65%
    }
    .header {
        padding-right: 3vw;
        padding-left: 3vw
    }
    .banr-pag-title {
        font-size: 10vw;
        line-height: 12vw
    }
    .banr-pag-sm {
        font-size: 4.5vw
    }
    .base-link-ls {
        flex-direction: column;
        text-align: center
    }
    .base-link-li+.base-link-li {
        margin-top: 3rem
    }
    .base-link-li a {
        margin: 1rem;
        padding: .8rem
    }
    .btn-top {
        font-size: 20px;
        height: 60px;
        width: 60px
    }
    .round-ls {
        flex-direction: column;
        align-items: center
    }
    .round-li+.round-li {
        margin-top: 2rem
    }
    .blog-bigimg {
        height: auto;
        width: 90vw
    }
    .blog-ls {
        width: 90vw
    }
    .blog-li {
        height: 41vw;
        width: 41vw
    }
}

@media screen and (max-width:414px) {
    .banr-home-text {
        font-size: 4rem;
        line-height: 5rem
    }
}

@media screen and (max-width:375px) {
    .banr-home-text {
        font-size: 3.5rem;
        line-height: 4.5rem
    }
    .header {
        height: 75px
    }
    .header .navi-ls {
        top: 75px
    }
    .banr {
        background-position-y: 75px
    }
    .banr-pag-title {
        padding-top: 37px
    }
    .base-title {
        font-size: 1.8rem
    }
}

@media screen and (max-width:360px) {
    .banr-home-text {
        font-size: 3rem;
        line-height: 4rem
    }
}

@media screen and (max-width:320px) {
    .footer span, .fotter a {
        font-size: 12px
    }
    .header {
        height: 65px
    }
    .header .navi-ls {
        top: 65px
    }
    .btn-icon, .btn-text {
        line-height: 55px
    }
    .banr-pag-title {
        padding-top: 32px
    }
    .banr {
        background-position-y: 65px
    }
    .base-title {
        font-size: 1.6rem
    }
}
