/* 平板RWD --------------------------------- */

@media screen and (min-width: 1601px) {
	.container {
		width: 70vw;
	}
	.blog-ls {
		width: 69vw;
	}
	.blog-li {
		height: 19vw;
		width: 19vw;
	}
	.display-li {
		width: 21vw;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 80vw;
	}
	.banr-home-text {
		line-height: 12vh;
		font-size: 8vh;
	}
	.blog-ls {
		width: 78vw;
	}
	.blog-li {
		height: 22vw;
		width: 22vw;
	}
}

@media screen and (max-width: 1024px) {
	.logo-box {
		height: 10vw;
		width: 47.5vw;
	}
	#BY, #BruceLogo {
		height: 10vw;
	}
	@keyframes ani-logobox {
		0%, 25% {
			height: 0vw;
			width: 10vw;
		}
		50%, 75% {
			height: 10vw;
			width: 10vw;
		}
		100% {
			height: 10vw;
			width: 47.5vw;
		}
	}
	.container {
		width: 90vw;
	}
	.banr-pag-title {
		font-size: 6.5vw;
		line-height: 7.5vw;
	}
	.banr-pag-sm {
		font-size: 3.5vw;
	}
	.btn-top {
		right: 5vw;
		bottom: 90px;
	}
	.display-li {
		width: 27vw;
	}
	.blog-cover {
		display: none;
	}
	.blog-ls {
		width: 90vw;
	}
	.blog-li {
		height: 26vw;
		width: 26vw;
	}
}

/* 手機RWD --------------------------------- */

@media screen and (max-width: 900px) {
	#List {
		display: block;
	}
	.header .navi-ls {
		flex-direction: column;
		background-color: rgba(27, 27, 27);
		position: fixed;
		right: -100vw;
		top: 90px;
		width: 40%;
		height: 100%;
		display: block;
		transition-duration: 500ms;
	}
	.header .navi-ls.slide {
		transform: translate(-100vw);
		-webkit-transform: translate(-100vw);
		-moz-transform: translate(-100vw);
		-ms-transform: translate(-100vw);
		-o-transform: translate(-100vw);
	}
	.header .navi-li {
		border-top: #292929 1px solid;
		text-align: center;
		width: 100%;
	}
	.header .navi-li {
		margin-left: 0;
		line-height: 1;
	}
	.navi-line {
		border-left: none;
		padding-left: 0;
	}
	.btn-text, .btn-icon {
		display: block;
		width: 100%;
		line-height: 10vh;
		font-size: 2.5vh;
	}
	.btn-bars {
		display: block;
	}
	.banr-home-text {
		transform: translateX(0vw) translateY(-7vh);
		-webkit-transform: translateX(0vw) translateY(-7vh);
		-moz-transform: translateX(0vw) translateY(-7vh);
		-ms-transform: translateX(0vw) translateY(-7vh);
		-o-transform: translateX(0vw) translateY(-7vh);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.banr-pag {
		height: 60vh;
	}
}

@media screen and (max-width: 768px) {
	.logo-box {
		height: 12.5vw;
		width: 59.375vw;
	}
	#BY, #BruceLogo {
		height: 12.5vw;
	}
	@keyframes ani-logobox {
		0%, 25% {
			height: 0vw;
			width: 12.5vw;
		}
		50%, 75% {
			width: 12.5vw;
			height: 12.5vw;
		}
		100% {
			height: 12.5vw;
			width: 59.375vw;
		}
	}
	.w-80percent {
		width: 100%;
	}
	.base-two.base-flip, .base-two {
		flex-direction: column;
	}
	.js-fadeIn-normal, .js-fadeIn-left, .js-fadeIn-right, .js-fadeIn-left+.base-body, .js-fadeIn-right+.base-body {
		opacity: 1;
		transform: translate(0);
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
	}
	.js-fadeIn-bottom {
		transform: translate(0);
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
	}
	.base-two .base-body {
		width: 100%;
	}
	.base-two.base-flip .base-head, .base-two .base-head {
		width: 100%;
		padding: 0 0 2rem 0;
	}
	.base {
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}
	.align-c {
		text-align: left;
	}
	.hide-900 {
		display: none;
	}
	.display-ls {
		flex-direction: column;
	}
	.display-li {
		margin-left: auto;
		margin-right: auto;
		padding: 6vw;
		width: 70vw;
	}
	.display-li+.display-li {
		margin-top: 2.5rem;
	}
	.hide-768 {
		display: none;
	}
	.switcher {
		width: 80vw;
		padding: 3vw;
	}
	.switcher-img-ls {
		width: 74vw;
		height: 65.0654844vw;
	}
	.switcher-btn-ls {
		padding: 0 3vw;
		margin-top: 3vw;
	}
	.switcher-btn-li {
		height: .8vw;
		width: 5vw;
		border-radius: .4vw;
		-webkit-border-radius: .4vw;
		-moz-border-radius: .4vw;
		-ms-border-radius: .4vw;
		-o-border-radius: .4vw;
	}
	.color {
		margin-top: 30px;
		width: 70vw;
		height: 60vw;
	}
}

@media screen and (max-width:600px) {
	.header .navi-ls {
		width: 100%;
	}
	.display-li {
		width: 80vw;
	}
	.display-li+.display-li {
		margin-top: 3rem;
	}
	.color-desc {
		font-size: 14px;
	}
	.blog-bigimg {
		width: 75%;
		height: auto;
	}
	.blog-btn {
		width: 35px;
		height: 35px;
	}
}

@media screen and (max-width: 480px) {
	.logo-box {
		height: 15vw;
		width: 71.25vw;
	}
	#BY, #BruceLogo {
		height: 15vw;
	}
	@keyframes ani-logobox {
		0%, 25% {
			height: 0vw;
			width: 15vw;
		}
		50%, 75% {
			height: 15vw;
			width: 15vw;
		}
		100% {
			height: 15vw;
			width: 71.25vw;
		}
	}
	.header-head {
		width: 65%;
	}
	.header {
		padding-right: 3vw;
		padding-left: 3vw;
	}
	.banr-pag-title {
		font-size: 10vw;
		line-height: 12vw;
	}
	.banr-pag-sm {
		font-size: 4.5vw;
	}
	.msg-box{
		width: 90%;
	}
	.base-link-ls {
		flex-direction: column;
		text-align: center;
	}
	.base-link-li+.base-link-li {
		margin-top: 3rem;
	}
	.base-link-li a {
		margin: 1rem;
		padding: .8rem;
	}
	.btn-top {
		font-size: 20px;
		height: 60px;
		width: 60px;
	}
	.round-ls {
		flex-direction: column;
		align-items: center;
	}
	.round-li+.round-li {
		margin-top: 2rem;
	}
	.blog-ls {
		width: 90vw;
	}
	.blog-li {
		height: 41vw;
		width: 41vw;
		box-shadow: 0 0 15px rgba(0, 0, 0, .15);
	}
	.color {
		width: 90vw;
		height: 90vw;
	}
}

@media screen and (max-width: 414px) {
	.banr-home-text {
		font-size: 4rem;
		line-height: 5rem;
	}
}

@media screen and (max-width: 375px) {
	.banr-home-text {
		font-size: 3.5rem;
		line-height: 4.5rem;
	}
	.header {
		height: 75px;
	}
	.header .navi-ls {
		top: 75px;
	}
	.banr {
		background-position-y: 75px;
	}
	.banr-pag-title {
		padding-top: 37px;
	}
	.base-title {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 360px) {
	.banr-home-text {
		font-size: 3rem;
		line-height: 4rem;
	}
}

@media screen and (max-width: 320px) {
	.footer span, .fotter a {
		font-size: 12px;
	}
	.header {
		height: 65px;
	}
	.header .navi-ls {
		top: 65px;
	}
	.btn-text, .btn-icon {
		line-height: 55px;
	}
	.banr-pag-title {
		padding-top: 32px;
	}
	.banr {
		background-position-y: 65px;
	}
	.base-title {
		font-size: 1.6rem;
	}
}