*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: serif-light;
    src: url(/yenyen/font/NotoSerifCJKtc-Light.otf);
}

@font-face {
    font-family: number;
    src: url(/yenyen/font/AkayaTelivigala-Regular.ttf);
}

.board{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #eee;
    transition-duration: 400ms;
}

.set-box {
    width: 400px;
    height: 100vh;
    background-color: #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 2;
    overflow: auto;
}

.phone-box {
    overflow: auto;
    position: relative;
    height: 100vh;
}

.phone-board {
    width: 3000px;
    height: 3000px;
    position: relative;
}

:root {
    --major: #6d5eb1;
    --major80per: rgba(109, 94, 177, .8);
    --minor: #a197ff;
}

/* 手機畫面 */

.phone {
    position: absolute;
    left: 1293px;
    top: 1132px;
    font-family: "number", "serif-light";
    width: 414px;
    height: 736px;
    background: linear-gradient(to right, #d194be 0%, #fcd5ce 100%);
    padding: 5px;
}

.date-title {
    line-height: 44px;
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.date-title p+p {
    margin-left: 10px;
}

.title-desc {
    font-weight: 600;
    font-size: 44px;
}

#Year, #Month {
    line-height: 35px;
    font-size: 40px;
}

.divider {
    display: block;
    width: 70%;
    height: 2px;
    margin: 20px auto 30px auto;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    background-color: rgba(255, 255, 255, .45);
}

.week-ls, .date-week {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.week-ls {
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}

.week-li, .date-li {
    width: 14.2857143%;
}

.week-li+.week-li, .date-li+.date-li {
    margin-left: 3px;
}

.date-week+.date-week {
    margin-top: 3px;
}

.date-li {
    padding: 24px 2px 2px 2px;
    background-color: rgba(255, 255, 255, 0);
    height: 85px;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    display: flex;
    position: relative;
    text-align: center;
    align-items: flex-start;
}

.date-li.--show {
    background-color: rgba(255, 255, 255, .45);
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
}

.edit .date-li.--choose {
    background-color: rgba(255, 255, 255, .75);
}

.date-num {
    color: #ac5c92;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.date-text {
    text-align: inherit;
    display: block;
    font-size: 12px;
    font-family: serif;
    color: #4f1644;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.3333;
    width: 100%;
}

.date-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    opacity: .7;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1;
}

canvas {
    display: none;
}

/* 控制板 */

.set {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.set-block {
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.set-block+.set-block {
    margin-top: 4px;
}

.set-block-row+.set-block-row {
    padding-top: 20px;
}

.div-block-2col {
    display: flex;
    flex-direction: row;
}

.set-desc {
    color: #777;
}

/* 模組化 */

.hover {
    opacity: .8;
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -ms-transition: 150ms;
    -o-transition: 150ms;
}

.hover:hover {
    opacity: 1;
}

.round {
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btn-solid, .btn-empty, .input, .format-li {
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-solid {
    background-color: var(--major);
    border: none;
    padding: 8px;
    color: #fff;
}

.btn-empty {
    background-color: transparent;
    border: 2px solid var(--major);
    padding: 6px;
    color: var(--major);
}

/* 個別設定 */

.bruce {
    margin-left: 3px;
}

.title {
    font-size: 40px;
    color: var(--major);
}

.input {
    background-color: transparent;
    border: 2px solid var(--major);
    padding: 6px;
    width: 200px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    border-radius: 3px;
    outline: none;
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:10px;
    height:20px;
    background:var(--major);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.range-text{
    color: #bbb;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: right;
    
}

#Setdate {
    color: var(--major);
}

#Textbox {
    height: 70px;
    resize: none;
    cursor: text;
    vertical-align: bottom;
}

.format-ls {
    display: flex;
    flex-direction: row;
}

.format-ls+.format-ls {
    margin-left: 20px;
}

.format-li {
    padding: 5px;
    background-color: #cfcfcf;
}

.format-li.--click {
    background-color: var(--major);
}

.format-li+.format-li {
    margin-left: 4px;
}

.format-li>img {
    vertical-align: bottom;
    pointer-events: none;
}

input[type="color"] {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-appearance: none;
    border: 2px solid var(--major80per);
    width: 30px;
    height: 30px;
    padding: 3;
    cursor: pointer;
    transition-duration: 150ms;
}

input[type="color"]:hover {
    border-color: var(--major);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    padding: 0;
}

.size {
    height: 30px;
    width: 64px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 4px;
    border: 2px solid var(--major80per);
    cursor: pointer;
    color: var(--major80per);
    outline: none;
    background: none;
    transition-duration: 150ms;
}

.size:hover {
    border-color: var(--major);
}

/* 確認訊息 */

.check {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
}

.check-border {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.check-text {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
}

#Yes {
    background-color: var(--minor);
}

#No {
    border: 2px solid var(--minor);
    color: var(--minor);
}

/* RWD */
