*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: serif-light;
    src: url(/yenyen/font/NotoSerifCJKtc-Light.otf);
}

@font-face {
    font-family: number;
    src: url(/yenyen/font/AkayaTelivigala-Regular.ttf);
}

body {
    background-color: #eee;
    font-family: "number", "serif-light";
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

:root {
    --major: #6d5eb1;
    --minor: #a197ff;
}

/* 手機畫面 */

.phone-box {
    width: 414px;
    height: 736px;
    background: linear-gradient(to right, #d194be 0%, #fcd5ce 100%);
    padding: 5px;
    text-align: center;
    position: relative;
}

.date-title {
    line-height: 44px;
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.date-title p + p {
    margin-left:10px;
}

.title-desc{
    font-weight: 600;
    font-size: 44px;
}

#Year,
#Month {
    line-height: 35px;
    font-size: 40px;
}

.divider {
    display: block;
    width: 70%;
    height: 2px;
    margin: 20px auto 30px auto;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    background-color: rgba(255, 255, 255, .45);
}

.week-ls, .date-week {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.week-ls {
    color: #fff;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}

.week-li, .date-li {
    width: 14.2857143%;
}

.week-li+.week-li, .date-li+.date-li {
    margin-left: 3px;
}

.date-week+.date-week {
    margin-top: 3px;
}

.date-li {
    background-color: rgba(255, 255, 255, 0);
    height: 85px;
    z-index: 2;
    overflow: hidden;
}

.date-li.--show {
    background-color: rgba(255, 255, 255, .45);
    cursor: pointer;
}

.date-li.--choose {
    background-color: rgba(255, 255, 255, .75);
}

.date-num {
    display: block;
    height: 16;
    margin-top: 6px;
    color: #ac5c92;
}

.date-text {
    font-size: 12px;
    text-align: center;
    font-family: serif;
    color: #4f1644;
    height: 20px;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: transparent;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 20px;
}

.date-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    opacity: .7;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1;
}

canvas {
    display: none;
}

/* 控制板 */

.title {
    font-size: 50px;
    margin-bottom: 40px;
    color: var(--major);
}

.bruce {
    margin-bottom: 10px;
    margin-left: 7px;
}

.setbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.input {
    outline: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    margin: 10px 5px;
    opacity: .8;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}

.input:hover {
    opacity: 1;
}

.btn {
    color: #fff;
    background-color: var(--major);
    border: none;
    padding: 8px;
}

.list {
    border: 2px solid var(--major);
    padding: 6px;
}

#Textbox {
    border: 2px solid var(--major);
    width: 200px;
    height: 60px;
    resize: none;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 16px;
    margin: 10px 5px;
    opacity: .8;
    transition: 300ms;
    margin-top: 40px;
}

#textbox:hover {
    opacity: 1;
}

#Delete {
    background-color: transparent;
    border: 2px solid var(--major);
    color: var(--major);
    padding: 6px;
}

/* 確認訊息 */

.check {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
}

.check-border {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.check-text {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
}

.btn-ls {
    text-align: center;
}

#Yes {
    background-color: var(--minor);
}

#No {
    background-color: transparent;
    border: 2px solid var(--minor);
    color: var(--minor);
    padding: 6px;
}

/* 不支援通知 */

.alert {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .85);
    z-index: 4;
    color: #fff;
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    display: none;
}

/* RWD */

@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
        justify-content: unset;
    }
    .setbox {
        position: relative;
        top: unset;
        left: unset;
        margin: 30px 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    .alert {
        display: block;
    }
}

@media screen and (max-width: 414px) {
    body {
        display: block;
    }
}
